<%= form_for([:admin, @candidate.poll || :poll, @candidate]) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :office %><br>
    <%= f.text_field :office %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <label>(Candidate images should be 200 x 200 pixel squares.)</label><br>
    <%= f.file_field :image %><br>
    <%= image_tag @candidate.image(:thumb) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.check_box :show_on_ballot, checked: true %>
    <%= f.label :show_on_ballot %>
  </div>
  <div class="field">
    <%= f.check_box :show_in_results, checked: true %>
    <%= f.label :show_in_results %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
