<p id="notice"><%= notice %></p>

<h1>Listing Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Office</th>
      <th>Show on ballot</th>
      <th>Show in results</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.office %></td>
        <td><%= candidate.show_on_ballot %></td>
        <td><%= candidate.show_in_results %></td>
        <td><%= link_to 'Edit', edit_admin_poll_candidate_path(params[:poll_id], candidate) %></td>
        <td><%= link_to 'Delete', admin_poll_candidate_path(params[:poll_id], candidate), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_admin_poll_candidate_path %>
<%= link_to 'Back to Polls', admin_polls_path %>
