<%= form_for([:admin, @poll]) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Basics</legend>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :subtitle %><br>
      <%= f.text_field :subtitle %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :url_slug %><br>
      <%= f.text_field :short_name %><br>
      <label class="instructions">Entering "2016" will create <%= @domain %>/2016 as your poll's landing page.</label>
    </div>
    <% if ENV['ACTIONKIT_PATH'] && ENV['ACTIONKIT_USERNAME'] && ENV['ACTIONKIT_PASSWORD'] %>
    <div class="field">
      <%= f.label :actionkit_page %><br>
      <%= f.text_field :actionkit_page %><br>
      <label class="instructions">Enter an ActionKit page name, e.g. "2016-progressive-poll," or leave blank to disable ActionKit syncing.</label>
    </div>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Instructions</legend>
    <div class="field">
      <%= f.label :voting_instructions %><br>
      <%= f.text_area :instructions %>
    </div>
    <legend>Help Text</legend>
    <div class="field">
      <%= f.label :help_text %><br>
      <%= f.text_area :help_text %>
    </div>
    <div class="field">
      <%= f.label :results_instructions %><br>
      <%= f.text_area :results_text %>
    </div>
  </fieldset>
  <fieldset>
    <legend>After-action content</legend>
    <div class="field">
      <%= f.label :donation_page_url %><br>
      <%= f.text_field :donation_url %><br>
      <label class="instructions">Enter the URL for a donation page to link to from the after-action page.</label>
    </div>
    <div class="field">
      <%= f.label :from_line %><br>
      <%= f.text_field :from_line %>
    </div>
    <div class="field">
      <%= f.label :thank_you_email_template %><br>
      <label class="instructions">You may use standard HTML tags to format your email. <a href="https://github.com/Democracy-for-America/Open-Poll#thank-you-email" target="_blank">(See available snippets)</a></label><br>
      <%= f.text_area :email_template %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Social media content</legend>
    <div class="field">
      <%= f.label :facebook_image %><br>
      <%= f.file_field :facebook_image %><br>
      <%= image_tag @poll.facebook_image, style: "max-width: 600px;" %>
    </div>
    <div class="field">
      <label>Default Facebook title</label><br>
      <%= f.text_field :vote_page_og_title %>
    </div>
    <div class="field">
      <label>Default Facebook description</label><br>
      <%= f.text_field :vote_page_og_description %>
    </div>
    <div class="field">
      <label>Share your vote Facebook title</label><br>
      <%= f.text_field :share_vote_og_title %>
    </div>
    <div class="field">
      <label>Share your vote Facebook description</label><br>
      <%= f.text_field :share_vote_og_description %>
    </div>
    <div class="field">
      <label>Promote a candidate Facebook title</label><br>
      <%= f.text_field :promote_candidate_og_title %>
    </div>
    <div class="field">
      <label>Promote a candidate Facebook description</label><br>
      <%= f.text_field :promote_candidate_og_description %>
    </div>
    <div class="field">
      <label>Results page Facebook title</label><br>
      <%= f.text_field :results_page_og_title %>
    </div>
    <div class="field">
      <label>Results page Facebook description</label><br>
      <%= f.text_field :results_page_og_description %>
    </div>
    <div class="field">
      <label>Twitter text</label><br>
      <%= f.text_field :twitter_text %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Miscellaneous</legend>
    <div class="field">
      <%= f.label :custom_css %><br>
      <%= f.text_area :custom_css %>
    </div>
    <div class="field">
      <%= f.label "Custom logo (optional)" %><br>
      <%= f.file_field :logo %><br>
      <%= image_tag @poll.logo, style: "max-width: 600px; background-color: #777;" %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Voting settings</legend>
    <div class="field">
      <label>End voting at (UTC):</label><br>
      <%= f.datetime_select :voting_ends_at, :ampm => true, :minute_step => 15 %>
    </div>
    <div class="field">
      <%= f.check_box :show_results %><%= f.label :show_results %>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
