<p id="notice"><%= notice %></p>

<h1>Listing Polls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>End voting</th>
      <th>Show results</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.title %></td>
        <td><%= poll.short_name %></td>
        <td><%= poll.end_voting %></td>
        <td><%= poll.show_results %></td>
        <td><%= link_to 'Edit', edit_admin_poll_path(poll) %></td>
        <td><%= link_to 'Candidates', admin_poll_candidates_path(poll) %></td>
        <td><%= link_to 'Preview&nbsp;results'.html_safe, admin_poll_results_path(poll) %></td>
        <td><%= link_to 'Delete', admin_poll_path(poll), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_admin_poll_path %>
