<% results = @poll.fetch_raw_results %>

<div style="width: 1180px; margin: 0 auto; padding: 0;">
<p>Total distinct voters: <strong><%= number_with_delimiter results[:total_voters] %></strong><br>Total 1st, 2nd & 3rd place votes: <strong><%= number_with_delimiter results[:total_votes] %></strong></p>

<table class="stupidTable">
  <thead>
    <th>Candidate</th>
    <th data-sort="int_comma" style="cursor: pointer; text-decoration: underline;">1st place votes &#8597;</th>
    <th data-sort="int_comma" style="cursor: pointer; text-decoration: underline;">Any place votes &#8597;</th>
    <th data-sort="int_comma" style="cursor: pointer; text-decoration: underline;">Distinct IP Addresses &#8597;</th>
    <th data-sort="int_comma" style="cursor: pointer; text-decoration: underline;">Distinct Session Cookies &#8597;</th>
    <th data-sort="int_comma" style="cursor: pointer; text-decoration: underline;">Unverified Auth Tokens &#8597;</th>
    <th data-sort="int_comma" style="cursor: pointer; text-decoration: underline;">Invalidated Votes &#8597;</th>
  </thead>
  <tbody>
    <% other_1st = 0 ; other_all = 0 %>
    <% results[:raw_results].each do |row| %>
      <% if row.candidate_id || row.votes >= 0.01 * results[:total_voters] %>
        <tr>
          <td><%= row.first_choice %><%= row.candidate_id ? '' : '*' %></td>
          <td><%= number_with_delimiter row.votes %></td>
          <td><%= number_with_delimiter row.all_votes %></td>
          <td><%= number_with_delimiter row.distinct_ip_addresses %></td>
          <td><%= number_with_delimiter row.distinct_session_cookies %></td>
          <td><%= number_with_delimiter row.unverified_auth_tokens %></td>
          <td><%= number_with_delimiter row.invalidated_votes %></td>
        </tr>
      <% else %>
        <% other_1st += row.votes ; other_all += row.all_votes %>
      <% end %>
    <% end %>
  </tbody>
</table>

<p><em>*Write-in candidate</em><br/><br/>Other write-ins: <%= number_with_delimiter other_1st %> first place votes, <%= number_with_delimiter other_all %> any place votes</p>

