<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @poll.subtitle %>
</p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @poll.short_name %>
</p>

<% if ENV['ACTIONKIT_PATH'] && ENV['ACTIONKIT_USERNAME'] && ENV['ACTIONKIT_PASSWORD'] %>
<p>
  <strong>Actionkit page:</strong>
  <%= @poll.actionkit_page %>
</p>
<% end %>

<p>
  <strong>Instructions:</strong><br>
  <%= @poll.instructions %>
</p>

<p>
  <strong>Email template:</strong><br>
</p>

<div style="padding: 12px; border: 1px solid #999;"><%= @poll.email_template.html_safe %></div>

<p>
  <strong>Results text:</strong><br>
  <%= @poll.results_text %>
</p>

<p>
  <strong>End voting:</strong>
  <%= @poll.end_voting %>
</p>

<p>
  <strong>Show results:</strong>
  <%= @poll.show_results %>
</p>

<%= link_to 'Edit', edit_admin_poll_path(@poll) %> |
<%= link_to 'Back', admin_polls_path %>
