<div id="candidates" class="add-bottom" style="display: <%= @vote.errors.empty? ? 'block' : 'none' %>; text-align: center; max-width: 900px; margin: auto;">
  <% if @parent || params['s']  %>
    <div style="color: #555;">
      <% if @parent %>
        <h4>
          <%= @parent.name %>'s top draft pick for 2016 is <%= params['i_voted_for'] %>.
        </h4>
      <% end %>
      <p>
        Drag and drop your own top choices for the 2016 Democratic Presidential Primary into the above area!
      </p>
    </div>
  <% end %>
  <% @vote.candidates.each_with_index do |c| %>
    <% unless @vote.find_candidate_by_name(c.name).ranking || c.name == params['i_voted_for'] %>
      <div id="drag-wrap<%= c.id %>" class="drag-wrap">
        <%= render 'candidate', c: c %>
      </div>
    <% end %>
  <% end %>
    <div class="wrap-writein"><div id="drag-wrap-writein" class="drag-wrap drag-wrap-writein">
      <div id="drag201" class="drag writable" style="margin-bottom: 50px;">
          <%= image_tag 'unnamed.png' %>
            <span class="write-candidate">YOUR WRITE-IN:</span>
            <span class="write-name"></span>
          <input class="write-in" type="text" onchange="saveWriteIn();" maxlength="255" placeholder="NAME" />
      </div>
      <div id="drag202" class="drag writable" style="margin-bottom: 50px;">
          <%= image_tag 'unnamed.png' %>
          <span class="write-candidate">YOUR WRITE-IN:</span>
          <span class="write-name"></span>
          <input class="write-in" type="text" onchange="saveWriteIn();" maxlength="255" placeholder="NAME" />
      </div>
      <div id="drag203" class="drag writable" style="margin-bottom: 50px;">
          <%= image_tag 'unnamed.png' %>
          <span class="write-candidate">YOUR WRITE-IN:</span>
          <span class="write-name"></span>
          <input class="write-in" type="text" onchange="saveWriteIn();" maxlength="255" placeholder="NAME" />
      </div>
    </div></div>
  <% candidates_in_top_three = 0 %>
  <% candidates_in_top_three += (@vote.first_choice != '' || params['i_voted_for']) ? 1 : 0 %>
  <% candidates_in_top_three += (@vote.second_choice != '') ? 1 : 0 %>
  <% candidates_in_top_three += (@vote.third_choice != '') ? 1 : 0 %>
  <% candidates_in_top_three.times do |i| %>
    <div id="drag-wrap<%= 101 + i %>" class="drag-wrap"></div>
  <% end %>
</div>

<% if params['hash'] %>
  <div class="add-bottom" style="text-align: center; border-top: solid 2px #CCC; max-width: 500px; margin: auto;">
    <p class="half-bottom" style="color: #777;">Other Democracy for America members voted for:</p>
    <%= render 'results' %>
  </div>
<% end %>