<%= simple_form_for(@vote, url: "/#{params[:poll]}") do |f| %>

  <% if false && @vote.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>
    <ul>
      <% @vote.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="user-form" class="container" style="display: <%= @vote.errors.empty? ? 'none' : 'block' %>;">
    <div class="row">
      <div class="sixteen columns">
        <h4 style="text-align: center;">Save your choices by submitting the form below.</h4>
        <p style="text-align: center;">You'll be provided with a link to share your selections, and you can come back and update them at any time.</p>
      </div>
    </div>

    <div class="row centered-form add-bottom">
      <div class="four columns alpha">
        <div style="padding-right: 12px;">
          <%= f.input :name, label: "Name", input_html: {class: "contact-input remove-bottom"} %>
        </div>
      </div>
      <div class="four columns">
        <div style="padding-right: 12px;">
          <%= f.input :zip, label: "Zip", input_html: {class: "contact-input remove-bottom"} %>
        </div>
      </div>
      <div class="four columns">
        <div style="padding-right: 12px;">
          <%= f.input :email, label: "Email", input_html: {class: "contact-input remove-bottom"} %>
        </div>
      </div>
      <div class="four columns omega">
        <div style="padding-right: 12px;">
          <%= f.input :phone, as: :string, label: "Phone (Optional)", input_html: {class: "contact-input remove-bottom watch"}, wrapper_html: {style: "margin-bottom: 0px;"} %>
          <div id="smsOptInWrapper">
            <div id="smsOptInBox" style="display: none; max-width: 300px;">
              <input type="hidden" name="vote[sms_opt_in]" value="0" /><label for="idSmsOptIn" style="display: block; font-weight: normal; font-size: 12px; line-height: 16px; text-transform: none; color: #333;"><input type="checkbox" id="idSmsOptIn" name="vote[sms_opt_in]" value="1" <% if @vote.sms_opt_in %>checked="checked"<% end %> /> Receive mobile alerts from Democracy for America. Msg &amp; data rates may apply. Text STOP to 33250 to stop receiving messages. Text HELP to 33250 for more information. <a href="http://democracyforamerica.com/site/page/privacy-policy" target="_blank" style="color: #777;">Terms &amp; conditions</a></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row centered-form" style="margin-top: 30px; margin-bottom: 50px;">
      <div class="eight columns offset-by-four form-controls"><!--
     --><button class="btn-lrg btn-blue">SUBMIT</button><!--
     --><button class="btn-lrg btn-white" onclick="cancelForm(); return false;">CANCEL</button><!--
   --></div>
    </div>
  </div>

  <fieldset style="display: <%= params[:test] ? 'block' : 'none' %>">
    <legend>Hidden Inputs</legend>
    <p>(These inputs will be hidden, although in the mean time they may be used as a write-in option.)</p>
    <%= f.input :first_choice, input_html: {value: (@vote.first_choice || params[:i_voted_for])} %>
    <%= f.input :second_choice %>
    <%= f.input :third_choice %>
    <hr>
    <%= f.input :source, input_html: {value: (@vote.source || params[:source])} %>
    <%= f.input :referring_akid, input_html: {value: params[:akid]} %>
    <%= f.input :referring_vote_id, as: :string, input_html: {value: (@vote.referring_vote_id || (@parent ? @parent.id : nil))} %>
    <%= f.input :full_querystring, input_html: {value: (@vote.full_querystring || request.query_string)} %>
  </fieldset>
<% end %>
