  <style>
    body { padding-top: 150px; }
  </style>
  <div class="container">
    <div class="row">
      <div class="16 columns">
        <p>
          <em>This is the non-visual version of our <%= @poll.name %>. To view the visual version of this site, please visit <%= link_to "#{@domain}/#{params[:poll]}", "#{@domain}/#{params[:poll]}/", class: "styled" %>.</em>
        </p>
        <p>
          Democracy for America wants to know who you support in our <%= @poll.name %>. Some potential candidates are listed below. Write in any of their names on the following form, or choose your own write-in candidate!
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="four columns" style="float: right;">
      <%= simple_form_for(@vote, url: "/#{params[:poll]}") do |f| %>
        <%= f.input :name, label: "Name", input_html: {class: "contact-input remove-bottom"} %>
        <%= f.input :email, label: "Email", input_html: {class: "contact-input remove-bottom"} %>
        <%= f.input :zip, label: "Zip", input_html: {class: "contact-input remove-bottom"} %>
        <%= f.input :first_choice, input_html: {class: "contact-input remove-bottom"} %>
        <%= f.input :second_choice, input_html: {class: "contact-input remove-bottom"} %>
        <%= f.input :third_choice, input_html: {class: "contact-input"} %>
        <input type="hidden" name="drag" value="false">
        <%= f.hidden_field :source, value: (@vote.source || params[:source]) %>
        <%= f.hidden_field :referring_akid, value: params[:akid] %>
        <%= f.hidden_field :referring_vote_id, as: :string, value: (@vote.referring_vote_id || (@parent ? @parent.id : nil)) %>
        <%= f.hidden_field :full_querystring, value: (@vote.full_querystring || request.query_string) %>
        <button class="button btn-blue btn-lrg" style="width: 75%;">SUBMIT</button>
      <% end %>
      </div>
      <div class="twelve columns" style="float: left;">
        <% @poll.candidates.visible.each do |c| %>
          <h5><%= c.name %>, <%= c.office %></h5>
          <%= embed_videos simple_format c.description.to_s.html_safe %>
        <% end %>
      </div>
    </div>
  </div>