<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title><%= @poll.name %></title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= render 'layouts/facebook_metadata' %>
  <link rel="icon" type="image/x-icon" href="<%= image_url 'favicon.ico' %>" />

  <style><%= @poll.custom_css.html_safe %></style>

</head>
<body style="zoom: 1;">
  <% if @parent || request.fullpath.split('/').last == 's' %>
    <div style="display: none;"><%= @poll.share_vote_og_description %>"></div>
  <% elsif params['i_voted_for'] %>
    <% liquid_binding = {'candidate' => params['i_voted_for'] } %>
    <div style="display: none;"><%= Liquid::Template.parse(@poll.promote_candidate_og_description).render(liquid_binding) %></div>
  <% elsif params['controller'] == 'results' %>
    <div style="display: none;"><%= @poll.results_page_og_description %></div>
  <% else %>
    <div style="display: none;"><%= @poll.vote_page_og_description %></div>
  <% end %>

  <%= render 'layouts/header' %>

<!--[if lt IE 9]>
  <style>
    body { padding-top: 0;}
    .ribbon, #candidates { display: none !important; }
    #ie_header { background: url(<%= image_url 'ie_banner_bkg.gif' %>) repeat-x; }
  </style>
  <div id="ie_header"><img src="<%= image_url 'ie_banner.png' %>" width="1024" /></div>
  <div id="ie_body" >
    <p >You're using an outdated version of Internet Explorer.<br/>To ensure that this web site displays correctly, please update to a more modern browser.</p>
    <div id="ie_icon_list">
      <div class="icon"><a href="https://www.google.com/chrome/"><img src="<%= image_url 'chrome.png' %>" /><br/>Download<br/>Google Chrome</a></div>
      <div  class="icon"><a href="https://www.mozilla.org/en-US/firefox/new/"><img src="<%= image_url 'firefox.png' %>" /><br/>Download<br/>Mozilla Firefox</a></div>  
      <div style="clear: all"></div>
    </div>
  </div>
<![endif]-->  

<noscript>
<div id="no_script"><p>This page uses Javascript. Your browser either
doesn't support Javascript or you have it turned off.
To see this page as it is meant to appear please use
a Javascript enabled browser.</p></div>
</noscript>

  
  <%= yield %>
  <%= javascript_include_tag "application" %>

  <script>
    <% if (params['action'] == 'show' || (@vote && @vote.errors.any?)) %>
      frozen = true;
    <% else %>
      frozen = false;
    <% end %>
  </script>

  <%= render 'layouts/footer' %>

  <%= render 'layouts/modal' %>
</body>
</html>
